<div class="container mt-5">
    <h1 class="mb-4">Job Details</h1>
    <% if (errorMessage) { %>
        <% if (errorMessage.includes('success')) { %>
            <div class="alert alert-success">
                <%= errorMessage %>
            </div>
            <% } else if (errorMessage.includes('warning')) { %>
                <div class="alert alert-warning">
                    <%= errorMessage %>
                </div>
                <% } else { %>
                    <div class="alert alert-danger">
                        <%= errorMessage %>
                    </div>
                    <% } %>
                        <% } %>
                            <% if (job) { %>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card job-card mb-4">
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    <i class="bi bi-briefcase-fill"></i>
                                                    <%= job.title %>
                                                </h5>
                                                <h6 class="card-subtitle mb-2 text-muted">
                                                    <i class="bi bi-building"></i>
                                                    <%= job.position %> - <%= job.company %>
                                                </h6>
                                                <p class="card-text">
                                                    <i class="bi bi-file-text"></i>
                                                    <%= job.description %>
                                                </p>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <ul class="list-group list-group-flush">
                                                            <li class="list-group-item">
                                                                <i class="bi bi-geo-alt-fill"></i>
                                                                <strong>Location:</strong>
                                                                <%= job.location %>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <i class="bi bi-currency-dollar"></i>
                                                                <strong>Package:</strong>
                                                                <%= job.packagePerAnnum %>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <i class="bi bi-tools"></i> <strong>Skills:</strong>
                                                                <% job.skills.map(skill=> { %>
                                                                    <span
                                                                        class="badge m-1 p-2 border-0 text-black bg-info">
                                                                        <%= skill %>
                                                                    </span>
                                                                    <% }) %>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <i class="bi bi-people-fill"></i>
                                                                <strong>Openings:</strong>
                                                                <strong class="text-success">
                                                                    <%= job.openings %>
                                                                </strong>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <i class="bi bi-person-check-fill"></i>
                                                                <strong>Applicants:</strong>
                                                                <strong class="text-danger font-weight-bold">
                                                                    <%= job.applicants.length %>
                                                                </strong>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <ul class="list-group list-group-flush">
                                                            <li class="list-group-item">
                                                                <i class="bi bi-calendar-check-fill"></i>
                                                                <strong>Expires:</strong>
                                                                <span class="badge p-2 border-0 text-black bg-warning">
                                                                    <%= job.expires %>
                                                                </span>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <i class="bi bi-info-circle-fill"></i>
                                                                <strong>Status:</strong>
                                                                <span
                                                                    class="badge p-2 border-0 text-black <%= job.status.toUpperCase() === 'ACTIVE' ? 'bg-success' : 'bg-danger' %>">
                                                                    <%= job.status.toUpperCase() %>
                                                                </span>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <i class="bi bi-clock-fill"></i> <strong>Posted
                                                                    On:</strong>
                                                                <%= job.postedOn %>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <i class="bi bi-person-fill"></i> <strong>Posted
                                                                    By:</strong>
                                                                <%= job.postedBy %>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <i class="bi bi-diagram-3-fill"></i>
                                                                <strong>Industry:</strong>
                                                                <%= job.isTech ? "Tech" : "Non-Tech" %> Industry
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="text-center mt-4">
                                                    <% if (locals.userEmail===job.postedBy) { %>
                                                        <a href="/jobs/<%= job.id %>/update" class="btn btn-info me-2">
                                                            <i class="bi bi-pencil"></i> Update
                                                        </a>
                                                        <form action="/jobs/<%= job.id %>/delete" method="get"
                                                            class="d-inline">
                                                            <button type="submit" class="btn btn-danger">
                                                                <i class="bi bi-trash"></i> Delete
                                                            </button>
                                                        </form>
                                                        <a href="/jobs/<%= job.id %>/applicants"
                                                            class="btn btn-warning ms-2">
                                                            <i class="bi bi-file-earmark-text"></i> Applications
                                                        </a>
                                                        <% } else { %>
                                                            <a href="/apply/<%= job.id %>" class="btn btn-primary">
                                                                <i class="bi bi-box-arrow-in-right"></i> Apply Now
                                                            </a>
                                                            <% } %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } else { %>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="alert alert-danger">
                                                <i class="bi bi-exclamation-triangle-fill"></i> Job Not Found
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
</div>